{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Читалка</title>

  {% include "books/components/styles.html" %}
</head>
<body class="hold-transition login-page">

{% block authentication_form %}
{% endblock %}

{% include "books/components/basic_scripts.html" %}
</body>
</html>
