{% extends 'books/authentication/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block authentication_form %}
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/" class="h1">My book reader</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Login</p>
      {% if form.subject.errors %}
          <ol>
          {% for error in form.subject.errors %}
              <li><strong>{{ error|escape }}</strong></li>
          {% endfor %}
          </ol>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          {% render_field form.username class+="form-control" %}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {% render_field form.password class+="form-control" %}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Вход</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.card-body -->
    </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

{% endblock %}
