{% load widget_tweaks %}
<form hx-post="" hx-target="this" hx-swap="outerHTML">
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="book-name">Название:</label>
        {{ edit_form.book_name|attr:"id:book-name"|attr:"class:form-control" }}
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Подтвердить</button>
      <button class="btn btn-default float-right" hx-get="?action=info">Отмена</button>
    </div>
</form>