<div hx-target="this" hx-swap="outerHTML">
    <h2> {{ book.book_name }} </h2>
    <p><b>Загружен:</b> {{ book.user.username }}</p>
    <p><b>Прочитано:</b> {{ progress }}/{{ book.pages }}</p>
    <div class="row">
      <div class="col col-sm-6 col-md-4 col-lg-3">
        <a href="{% url 'book_read' book.id%}"  class="btn btn-block btn-success">Читать</a>
      </div>
      <div class="col col-sm-6 col-md-4 col-lg-3">
        <button type="button" class="btn btn-block btn-primary" hx-get="?action=edit-form">Изменить</button>
      </div>
      <div class="col col-sm-6 col-md-4 col-lg-3">
        <a href="{% url 'delete_book' book.id%}" class="btn btn-block btn-danger">Удалить</a>
      </div>
    </div>
</div>