<div id="toc">
    <ul class="chapter-list">
            {% include "books/components/table_of_content.html" with chapters=table_of_content.chapters %}
    </ul>
</div>

<style type="text/css">
    .chapter-list li{
        list-style-type: none
    }
    .collapse-button{
        color: inherit;
        text-decoration: none;
    }
    .collapse-button.open i {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
</style>