{% load static %}
<!-- Main Sidebar Container -->
  <aside id="sidebar" class="main-sidebar sidebar-dark-primary elevation-4 d-none">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{% static 'book/dist/img/favicon.ico' %}" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Читалка</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        {% if user.is_authenticated %}
        <div class="image">
            <img src="{% static 'book/dist/img/avatar.png'%}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">{{ user.username }}</a>
          </div>
        {% else %}
          <div class="info">
            <a href="{% url 'login' %}" class="d-block">Войти</a>
          </div>
        {% endif %}
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{% url 'book_list' %}" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Список книг
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'load_book' %}" class="nav-link">
              <i class="nav-icon fas fa-upload"></i>
              <p>
                Загрузить книгу
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>