{% for chapter in chapters %}
    <li>


        {% if chapter.inner_chapters|length > 0 %}
            <a class="collapse-button" role="button" _="on click call $('#{{ chapter.title|slugify }}-{{ chapter.page }}').collapse('toggle') then toggle .open on me">
                <i class="fas fa-chevron-right"></i>
                {{ chapter.title }}
            </a>
            ---
            <a href="{% url 'book_read' book_id %}?action=go-to-page&page-num={{ chapter.page }}">
                {{ chapter.page }}
            </a>

            <div class="collapse" id="{{ chapter.title|slugify }}-{{ chapter.page }}">
                <ul>
                    {% include "books/components/table_of_content.html" with chapters=chapter.inner_chapters %}
                </ul>
            </div>
        {% else %}
        {{ chapter.title }} ---
        <a href="{% url 'book_read' book_id %}?action=go-to-page&page-num={{ chapter.page }}">
            {{ chapter.page }}
        </a>
        {% endif %}
    </li>
{% endfor %}