<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} Читалка {% endblock %}</title>
  <link rel="icon" type="image/png" href="{% static 'book/dist/img/favicon.ico' %}"/>
  {% include "books/components/styles.html" %}

  {% block additional_header %}
  {% endblock %}
</head>
<body class="hold-transition layout-fixed" _="init get localStorage.getItem('is_sidebar_collapsed')
                                                          if it == 1 then add .sidebar-collapse to me end
                                                          add .sidebar-mini to me
                                                          remove .d-none from #sidebar">
<div class="wrapper">

  {% include "books/components/navbar.html" %}

  {% include "books/components/sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{% block header1 %} Читалка {% endblock %}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              {% block breadcrumb %}
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <!-- <li class="breadcrumb-item active">Dashboard v1</li> -->
              {% endblock %}
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        {% block content %}

        {% endblock %}
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

{% include "books/components/basic_scripts.html" %}

{% block additional_scripts %}
{% endblock %}
</body>
</html>
