{% extends 'books/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Загрузить книгу
{% endblock %}

{% block header1 %}
Загрузить книгу
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Главная</a></li>
<li class="breadcrumb-item">Загрузить книгу</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 card card-primary">

      <!-- /.card-header -->
      <!-- form start -->
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">


          <div class="form-group">
            <label for="exampleInputFile">Файл</label>
            <div class="input-group">
              <div class="custom-file">
                {{ form.file|attr:"id:exampleInputFile"|attr:"class:custom-file-input" }}
                <!--<input type="file" class="custom-file-input" id="exampleInputFile">-->
                <label class="custom-file-label" for="exampleInputFile">Выберите файл</label>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Подтвердть</button>
        </div>
      </form>
    </div>
</div>

{% endblock %}
{% block additional_scripts %}
    {% include "books/components/scripts/bs-custom-file-input.html" %}
{% endblock%}