{% extends 'books/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %}
Список книг
{% endblock %}

{% block header1 %}
Книги
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Главная</a></li>
<li class="breadcrumb-item">Книги</li>
{% endblock %}

{% block content %}
<div class="card card-solid">
<div class="card-body pb-0">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <label>Отсортировать по:</label>
        <div class="row">
          <div class="col-9">
            <select id="sorting-select" class="form-control" _="on change call $('#sorting-select').val() then call set_sort_param(it)">
              <option value="load_date">Дата загрузки</option>
              <option value="name" {% if sort_by == "name" %} selected {% endif %}>Названию</option>
            </select>
          </div>
          <div class="col-3">
            <button id="change-ordering" {% if order_by == "desc" %}data-ordering="asc"{% else %} data-ordering="desc" {% endif %} type="button" class="btn btn-block btn-default" style="width: fit-content;" _="on click call set_order_param(#change-ordering@data-ordering)">
              <i class="fas {% if order_by == 'desc' %}fa-arrow-up{% else %}fa-arrow-down{% endif %}"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    {% for progress in books %}
      <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
        <div class="card bg-light d-flex flex-fill">
          <div class="card-header text-muted border-bottom-0">
            {{ progress.book.user.username }}
          </div>
          <div class="card-body pt-0">

            <div class="row">
              <div class="col-7">
                <h2 class="lead"><b>{{ progress.book.book_name }}</b></h2>
                <p class="text-muted text-sm"><b>Прогресс: </b> {{ progress.progress }}/{{ progress.book.pages }} </p>
                {% if progress.last_read %}
                  <p class="text-muted text-sm"><b>Последнее чтение: </b> {{ progress.last_read }}</p>
                {% endif %}
              </div>
              <div class="col-5 text-center">
                  {% if progress.book.thumbnail %}
                    {% thumbnail progress.book.thumbnail "128x128" as im %}
                      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid">
                    {% endthumbnail %}
                  {% else %}
                      <img src="{% static 'book/dist/img/book_placeholder.png'%}" width="128" height="128" class="img-fluid">
                  {% endif %}
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="text-right">
              <a href="{% url 'book_detail' progress.book.id %}" class="btn btn-sm bg-teal">
                <i class="fas fa-info-circle"></i>
              </a>
              <a href="{% url 'book_read' progress.book.id %}" class="btn btn-sm btn-primary">
                <i class="fab fa-readme"></i> Читать
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<!-- /.card-body -->
<div class="card-footer">
  <nav aria-label="Contacts Page Navigation">
    <ul class="pagination justify-content-center m-0">
      {% with ''|center:page_count as range %}
        {% for _ in range %}
            <li class="page-item {% if page_num == forloop.counter %}active{% endif %}"><a class="page-link" href="?page={{forloop.counter}}{% if sort_by %}&sort_by={{sort_by}}{% endif %}{% if order_by %}&order_by={{order_by}}{% endif %}">{{forloop.counter}}</a></li>
        {% endfor %}
      {% endwith %}
    </ul>
  </nav>
</div>
<!-- /.card-footer -->
</div>

<script type="text/javascript">
  function set_sort_param(sorting){
    let url = new URL(window.location.href);
    url.searchParams.set("sort_by", sorting);
    window.location.href = url.href;
  }

  function set_order_param(ordering){
    let url = new URL(window.location.href);
    url.searchParams.set("order_by", ordering);
    window.location.href = url.href;
  }
</script>
{% endblock %}