{% extends 'books/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %}
{{ book.book_name }} | Информация
{% endblock %}

{% block header1 %}
Книги
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Главная</a></li>
<li class="breadcrumb-item"><a href="{% url 'book_list' %}">Книги</a></li>
<li class="breadcrumb-item active">{{ book.book_name }}</li>
{% endblock %}

{% block content %}
<div class="card card-default color-palette-box">
  <div class="card-header">
    <h3 class="card-title">
      <i class="fas fa-tag"></i>
      Информация
    </h3>
  </div>
  <div class="card-body">
    <div class="row gy-5">
      <div class="col-sm-4 mb-4 mb-sm-0">
          {% if book.thumbnail %}
            {% thumbnail book.thumbnail "400x400" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid">
              {% endthumbnail %}
          {% else %}
              <img src="{% static 'book/dist/img/book_placeholder.png'%}" width="400" height="400" class="img-fluid">
          {% endif %}
      </div>
      <div class="col-sm-8 order-sm-first">
          <div hx-get="?action=info" hx-trigger="load" hx-swap="outerHTML"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block additional_scripts %}
    {% include "books/components/scripts/htmx.html" %}
{% endblock%}