{% extends 'books/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block header1 %}
Главная
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">Главная</li>
{% endblock %}

{% block content %}
<div class="row" id="buttons" >
    <div class="col-xl-2 col-lg-4 col-md-6 col-12" role="button" onclick="window.location.href='{% url 'book_list' %}';">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-book"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Выбрать книгу</span>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-6 col-12" role="button" onclick="window.location.href='{% url 'load_book' %}';">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-upload"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Загрузить книгу</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}