<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Читалка</title>
  <link rel="icon" type="image/png" href="{% static 'book/dist/img/favicon.ico' %}"/>
  {% include "books/components/styles.html" %}
  <!--Plugin CSS file with desired skin-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css" integrity="sha512-3q8fi8M0VS+X/3n64Ndpp6Bit7oXSiyCnzmlx6IDBLGlY5euFySyJ46RUlqIVs0DPCGOypqP8IRk/EyPvU28mQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="page-block" id="page-block" _="init call init_page_block()">
    <div class="next" _="on click call next_page(3, {{ max_pages }})"></div>
    <div class="menu" data-toggle="modal" data-target="#mmodal"></div>
    <div class="prev" _="on click call prev_page(3)"></div>
    <div id="page-num" page-num="{{ page_num }}" page-buf="{{ page_buf }}"></div>
    <div id="pages-container">
        {% for render in renders %}
            <div id="page" page="{{ render.page_num }}" class="{% if  render.page_num != page_num %}unload{% else %}{% endif %}">
                <img src="{{ render.render_file.url }}">
            </div>
        {% endfor %}
    </div>
</div>
<div id="popup-menu">
    <div id="mmodal" class="modal fade " tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Параметры</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="buttons" >
                  <div class="col-lg-4 col-md-6 col-12" role="button" _="on click  put `${#page-num@page-num}` as Int into page_num
                                                                         set #go-to-page.value to page_num
                                                                         call $('#go-to-page-slide').bootstrapSlider('setValue', page_num)
                                                                         add .d-none to #buttons
                                                                         remove .d-none from #go-to">
                    <div class="info-box">
                      <span class="info-box-icon bg-info"><i class="fas fa-sign-in-alt"></i></span>
                      <div class="info-box-content">
                        <span class="info-box-text">Переидти<br> на страницу</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 col-12" role="button" _="on click add .d-none to #buttons then remove .d-none from #toc-body">
                    <div class="info-box">
                      <span class="info-box-icon bg-success"><i class="fas fa-list"></i></span>
                      <div class="info-box-content">
                        <span class="info-box-text">Оглавление</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 col-12" role="button" _="on click add .d-none to #buttons then remove .d-none from #page-width-change">
                    <div class="info-box">
                      <span class="info-box-icon bg-purple"><i class="fas fa-search-plus"></i></span>
                      <div class="info-box-content">
                        <span class="info-box-text">Размер страницы</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 col-12" role="button" _="on click set window.location.href to '{% url 'book_detail' book_id %}'">
                    <div class="info-box">
                      <span class="info-box-icon bg-orange"><i class="fas fa-sign-out-alt"></i></span>
                      <div class="info-box-content">
                        <span class="info-box-text">Выход</span>
                      </div>
                    </div>
                  </div>


                </div>
                <div id="go-to" _="init call $('#go-to-page-slide').bootstrapSlider().on('change', slider_change)" class="d-none">
                    <label for="go-to-page">Номер страницы</label>
                    <input class="form-control mb-3" type="number" min="1" max="{{ max_pages }}" id="go-to-page" _="on input set val to #go-to-page.value then call $('#go-to-page-slide').bootstrapSlider('setValue', val)"/>
                    <div class="mb-3">
                        <input class="mb-3"
                                type="text"
                                id="go-to-page-slide"
                                name="page_range"
                                data-slider-min="1"
                                data-slider-max="{{ max_pages }}"
                                style="width:100%"/>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary" _="on click set window.location.href to `{% url 'book_read' book_id %}?action=go-to-page&page-num=${#go-to-page.value}`">Переидти</button>
                        <button type="submit" class="btn btn-default" _="on click add .d-none to #go-to then remove .d-none from #buttons">Отмена</button>
                    </div>
                </div>

                <div id="toc-body" class="d-none">
                    <div id="toc" class="toc mb-3">
                        <div hx-trigger="load" hx-get="{% url 'book_toc' book_id %}" hx-swap="outerHTML"></div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div></div>
                        <button type="submit" class="btn btn-default" _="on click add .d-none to #toc-body then remove .d-none from #buttons">Отмена</button>
                    </div>
                </div>

                <div class="d-none" id="page-width-change" _="init call init_size_block()">
                    <label for="page-width-change-slider">Размер страницы</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="auto-width" _="on change call on_size_checkbox_change()">
                        <label class="form-check-label" for="auto-width">Автоматический размер</label>
                    </div>
                    <div class="mb-3">
                        <input  type="text"
                                id="page-width-change-slider"
                                name="page_range"
                                data-slider-min="200"
                                data-slider-max="4096"
                                style="width:100%"/>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="submit" class="btn btn-primary" _="on click call on_size_save_click()">Сохранить</button>
                            <button type="submit" class="btn btn-default" _="on click call set_width(window.innerWidth)">Сбросить</button>
                        </div>
                            <button type="submit" class="btn btn-default" _="on click on_size_cancel_click()">Отмена</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer d-none" id="back">
              <button type="button" class="btn btn-secondary">Close</button>
            </div>
          </div>
        </div>
    </div>
</div>

<script type="text/hyperscript">
    def next_page(page_buf, max_page)
        put `${#page-num@page-num}` as Int into page_num
        if page_num >= max_page
            exit
        end
        increment #page-num@page-num
        add .unload to <#page[page='$page_num']/> then remove .unload from <#page[page=`${page_num+1}`]/>
        remove <#page[page='$page_num-page_buf']/>
        call window.scrollTo({ top: 0, behavior: "instant"})
        if page_num+page_buf >= max_page
            fetch `?action=update-page&page-num=${page_num+1}`
            exit
        end
        fetch `?action=get-page&page-num=${page_num+page_buf+1}&update-page=${page_num+1}` as html then put it at the end of #pages-container
    end

    def prev_page(page_buf)
        put `${#page-num@page-num}` as Int into page_num
        if page_num <= 1
            exit
        end
        decrement #page-num@page-num
        add .unload to <#page[page='$page_num']/> then remove .unload from <#page[page=`${page_num-1}`]/>
        remove <#page[page='$page_num+page_buf']/>
        call window.scrollTo({ top: 0, behavior: "instant"})
        if page_num-page_buf <= 1
            fetch `?action=update-page&page-num=${page_num-1}`
            exit
        end
        fetch `?action=get-page&page-num=${page_num-page_buf-1}&update-page=${page_num-1}` as html then put it at the start of #pages-container
    end
    def set_width(width)
        set #page-block.style.width to `${width}px`
        call $('#page-width-change-slider').bootstrapSlider('setValue', width)
    end

    def init_page_block()
        get localStorage.getItem('book{{book_id}}Width')
        if it
            set #page-block.style.width to `${it}px`
        else
            call $('#auto-width').prop('checked', true)
            call $('#page-width-change-slider').bootstrapSlider('disable')
            add .width100 to #page-block
        end
    end

    def init_size_block()
        call $('#page-width-change-slider').bootstrapSlider().on('change', page_width_change_slider_change)
        call localStorage.getItem('book{{book_id}}Width')
        if it
            call $('#page-width-change-slider').bootstrapSlider('setValue', it)
            call $('#auto-width').prop('checked', false)
        else
            call $('#page-width-change-slider').bootstrapSlider('setValue', window.innerWidth)
            call $('#page-width-change-slider').bootstrapSlider('disable')
            call $('#auto-width').prop('checked', true)
        end
    end

    def on_size_checkbox_change()
        call $('#auto-width').prop('checked')
        if it
            call $('#page-width-change-slider').bootstrapSlider('disable')
            add .width100 to #page-block
        else
            call $('#page-width-change-slider').bootstrapSlider('enable')
            remove .width100 from #page-block
        end
    end

    def on_size_save_click()
        call $('#auto-width').prop('checked')
        if it
            call localStorage.removeItem('book{{book_id}}Width')
        else
            get $('#page-width-change-slider').val()
            call localStorage.setItem('book{{book_id}}Width', it)
        end
        add .d-none to #page-width-change then remove .d-none from #buttons
    end

    def on_size_cancel_click()
        get localStorage.getItem('book{{book_id}}Width')
        if it
            remove .width100 from #page-block
            call set_width(it)
            call $('#auto-width').prop('checked', false)
            call $('#page-width-change-slider').bootstrapSlider('enable')
        else
            call $('#auto-width').prop('checked', true)
            call $('#page-width-change-slider').bootstrapSlider('disable')
            add .width100 to #page-block
        end
        add .d-none to #page-width-change
        remove .d-none from #buttons
    end
</script>
<script type="text/javascript">
    var slider_change = function() {
        $("#go-to-page").val($("#go-to-page-slide").val());
    };
    var page_width_change_slider_change = function() {
        let page_width = $("#page-width-change-slider").val();
        $("#page-block").css("width", `${page_width}px`)
    };
</script>

<style type="text/css">
  body {
    background-color: #777;
  }
  img {
    width: 100%;
  }
  .next {
    right: 0;
    top: 0;
    position: fixed;
    width:40%;
    height:100%;
  }
  .prev {
    left: 0;
    top: 0;
    position: fixed;
    width:40%;
    height:100%;
  }
  .unload {
    display: none;
  }
  .page-block{
    background-color: #fff;
    margin: 0 auto;
  }
  .menu {
    left: 40%;
    top: 0;
    position: fixed;
    width:20%;
    height:100%;
  }
 .toc {
    width: 100%;
    overflow: auto;
    height: 400px;
 }
 .width100 {
    width: 95% !important;
 }
</style>
{% include "books/components/basic_scripts.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
