{% extends 'books/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %}
Поиск | {{ query }}
{% endblock %}

{% block header1 %}
Поиск | {{ query }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Главная</a></li>
<li class="breadcrumb-item">Поиск</li>
{% endblock %}

{% block content %}
<div class="card card-solid">
    <div class="card-body pb-0">
      <div class="row">
          {% for progress in found_books %}
          <div class="col-12 col-lg-6 d-flex align-items-stretch flex-column">
            <div class="card bg-light d-flex flex-fill">
              <div class="card-header text-muted border-bottom-0">
                {{ progress.book.user.username }}
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-7">
                    <h2 class="lead"><b>{{ progress.book.book_name }}</b></h2>
                    <p class="text-muted text-sm"><b>Прогресс: </b> {{ progress.progress }}/{{ progress.book.pages }} </p>
                    {% if progress.last_read %}
                      <p class="text-muted text-sm"><b>Последнее чтение: </b> {{ progress.last_read }}</p>
                    {% endif %}
                  </div>
                  <div class="col-5 text-center">
                      {% if progress.book.thumbnail %}
                        {% thumbnail progress.book.thumbnail "128x128" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid">
                        {% endthumbnail %}
                      {% else %}
                          <img src="{% static 'book/dist/img/book_placeholder.png'%}" width="128" height="128" class="img-fluid">
                      {% endif %}
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="text-right">
                  <a href="{% url 'book_detail' progress.book.id %}" class="btn btn-sm bg-teal">
                    <i class="fas fa-info-circle"></i>
                  </a>
                  <a href="{% url 'book_read' progress.book.id %}" class="btn btn-sm btn-primary">
                    <i class="fab fa-readme"></i> Читать
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}